<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeri</title>
    <link rel="stylesheet" href="../static/css/style1.css">
</head>
<body>
    <header>
        <div>
            <p>Seni Çok Seviyorum ❤️🤍</p>
        </div>
    </header>
    <div class="seçenekler">
        <div class="black">Aşıkım Sana Sevgilimm</div>
    </div>
    <div class="container">

        <div class="card" >
            <div class="front">
                <img src="../static/images/1.jpeg">
            </div>
            <div class="back">
                <div>
                    <div class="title"> </div>
                        <p>Uzaklara bakma Çünkü sana hep yakınım ya Bedenim orda olmasa da Kalbim hep orda
</p>
                    </div>
                </div>
            </div>



        <div class="card" >
            <div class="front">
                <img src="../static/images/2.jpeg">
            </div>
            <div class="back">
                <div>
                    <div class="title"> </div>
                        <p>Mesafe, önemsiz bir detay sadece Bu aşkı yıkamaz hiçbir şey Yollar, kilometreler</p>
                    </div>
                </div>
            </div>



        <div class="card" >
            <div class="front">
                <img src="../static/images/3.jpeg">
            </div>
            <div class="back">
                <div>
                    <div class="title"> </div>
                        <p>Gelip geçer mesafeler Uzak yakın ne fark eder Kalbim seninle atar Sensiz derbeder</p>
                    </div>
                </div>
            </div>


        <div class="card" >
            <div class="front">
                <img src="../static/images/4.jpeg">
            </div>
            <div class="back">
                <div>
                    <div class="title"> </div>
                        <p>Gelip geçer mesafeler Uzak yakın ne fark eder Kalbim seninle atar Sensiz derbeder</p>
                    </div>
                </div>
            </div>



        <div class="card" >
            <div class="front">
                <img src="../static/images/5.jpeg">
            </div>
            <div class="back">
                <div>
                    <div class="title"> </div>
                        <p>Gitme Gidersen kırılır yine de Kalbim atar durur içine Dayanamaz ki sakince</p>
                    </div>
                </div>
            </div>



        <div class="card" >
            <div class="front">
                <img src="../static/images/6.jpeg">
            </div>
            <div class="back">
                <div>
                    <div class="title"> </div>
                        <p>Sabret Sarıcam kalbini derinden Öpücem yine gözlerinden Daha ne isterim</p>
                    </div>
                </div>
            </div>





        <div class="card" >
            <div class="front">
                <img src="../static/images/7.jpeg">
            </div>
            <div class="back">
                <div>
                    <div class="title"> </div>
                        <p>Gelip geçer mesafeler Uzak yakın ne fark eder Kalbim seninle atar Sensiz derbeder</p>
                    </div>
                </div>
            </div>

        <div class="card" >
            <div class="front">
                <img src="../static/images/8.jpeg">
            </div>
            <div class="back">
                <div>
                    <div class="title"> </div>
                        <p>Gelip geçer mesafeler Uzak yakın ne fark eder Kalbim seninle atar Sensiz derbeder
</p>
                    </div>
                </div>
            </div>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Wdc-Hzew9G8?si=clZSm9CDW1T35koy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>





</body>
</html>
